<div class="container" id="about">
  <div class="row">
    <div class="col-xs-8">
      <h1 class="col-xs-6 col-xs-offset-2">I'm a Full Stack developer from Rio de Janeiro, Brazil.</h1>
      <h3 class="col-xs-8 col-xs-offset-2 text-justify">This means I can develop a full application: Develop both the Front-end, which is the page's layout and the Back-end, which is the logic and database interaction.</h3>
      <p class="col-xs-8 col-xs-offset-2 text-justify">I'm always ready for a new adventure! Learning new stuff is my hobbie. When I'm not coding, you can always find me in the virtual world or in the kitchen.</p>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <%= cl_image_tag ENV['HTML_CSS_JS'], class: 'img-front' %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= cl_image_tag ENV['RUBY_ON_RAILS'], class: 'img-back' %>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <h2 class="text-center">Random Facts</h2>
    <div class="col-xs-6 text-right">
      <h2 class="text-center">I would rather...</h2>
      <div id="forest-city" class="like-item">
        <i class="fa fa-tree" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-building-o" aria-hidden="true"></i>
      </div>

      <div id="car-plane" class="like-item">
        <i class="fa fa-car" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-plane" aria-hidden="true"></i>
      </div>

      <div id="apple-pizza" class="like-item">
        <i class="fa fa-apple" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-cutlery" aria-hidden="true"></i>
      </div>

      <div id="sun-moon" class="like-item">
        <i class="fa fa-sun-o" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-moon-o" aria-hidden="true"></i>
      </div>

      <div id="hot-cold" class="like-item">
        <i class="fa fa-thermometer-full" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
      </div>

      <div id="bicycle-bus" class="like-item">
        <i class="fa fa-bicycle" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-bus" aria-hidden="true"></i>
      </div>

      <div id="apple-linux" class="like-item">
        <i class="fa fa-apple" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-linux" aria-hidden="true"></i>
      </div>

      <div id="physical-virtual" class="like-item">
        <i class="fa fa-futbol-o" aria-hidden="true"></i>
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
        <i class="fa fa-gamepad" aria-hidden="true"></i>
      </div>
    </div>

    <div class="col-xs-5 col-xs-offset-1">
      <ul class="facts-list">
        <li>I absolutely love dogs</li>
        <li>I want to be a Pokémon Trainer</li>
        <li>I want to have super mutant memory</li>
        <li>I am addicted to chocolate</li>
        <li>I hate the green color</li>
        <li>I have arachnophobia</li>
      </ul>
    </div>
  </div>
</div>
