<div class="row">
  <div class="col-xs-12">
    <div id="contact-section" class="text-center">
      <h1 class="bold-h1">Feel that  <span>tingling</span> in your fingertips?</h1>
      <h2>That's the magnetic urge to contact me!</h2>
      <p class="contact-section-description">If you are looking for a passionate developer, who always wants to learn new technologies, as well as improve his skills and whises to do something meaningful at his job, then you should definetly get in touch!</p>

      <div class="row">
        <div class="col-xs-3 text-center">
          <%= link_to 'https://www.facebook.com/nicollas.isabel', target: '_blank' do %>
            <div class="contact-choice">
              <i class="fa fa-facebook choice-logo" aria-hidden="true"></i>
              <hr>
              <h3 class="choice-name">Facebook</h3>
              <p class="choice-description">Where you can see a bit more about myself.</p>
            </div>
          </div>
        <% end %>

        <div class="col-xs-3 text-center">
          <%= link_to 'https://www.linkedin.com/in/nicollasisabel/', target: '_blank' do %>
            <div class="contact-choice">
              <i class="fa fa-linkedin choice-logo" aria-hidden="true"></i>
              <hr>
              <h3 class="choice-name">LinkedIn</h3>
              <p class="choice-description">Want to check my professional life and skills? Then, meet me in LinkedIn!</p>
            </div>
          <% end %>
        </div>

        <div class="col-xs-3 text-center">
          <%= link_to 'https://github.com/nicollasiam', target: '_blank' do %>
            <div class="contact-choice">
              <i class="fa fa-github choice-logo" aria-hidden="true"></i>
              <hr>
              <h3 class="choice-name">Github</h3>
              <p class="choice-description">A (very) little about my coding history.</p>
            </div>
          <% end %>
        </div>

        <div class="col-xs-3 text-center">
          <div class="contact-choice">
            <i class="fa fa-envelope-o choice-logo" aria-hidden="true"></i>
            <hr>
            <h3 class="choice-name">Resume</h3>
            <p class="choice-description">Also, feel free to download my Resume!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
