<div class="row">
  <div class="col-xs-6 col-xs-offset-3 skill-item">
    <div id=<%= local_assigns[:elem_id] %>>
      <span class="col-xs-4 text-right skill-name"><%= local_assigns[:skill] %></span>
      <div class="col-xs-6 like-item">
        <div class="like-bar">
          <div class="like-meter"></div>
        </div>
      </div>
      <span class="col-xs-2 text-left skill-percent"><%= local_assigns[:level] %>%</span>
    </div>
  </div>
</div>
