#contact-section {
  h1 span {
    color: white;
  }

  .bold-h1 {
    font-weight: bold;
  }

  .contact-section-description {
    width: 60%;
    margin: 20px auto 50px auto;
  }

  .contact-choice {
    i {
      font-size: 45px;
    }

    hr {
      width: 80%;
    }
  }
}
