.tabs-wrapper {
  width: 100%;

  ul {
    width: fit-content;
    margin: -65px auto 0 auto;

    li {
      padding: 20px 10px 20px 10px;
      background-color: white;
      transition: all .5s ease;
      border-radius: 15px 15px 0 0;
      min-width: 150px;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &.active {
        background-color: #414141;

        a {
          color: #BBB;
          font-weight: bold;
        }
      }

      &:hover {
        background-color: #414141;

        a {
          color: #BBB;
        }
      }

      a {
        color: #777777;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
}
