body {
  color: #BBB;
  font-size: 14px;
  background-color: #414141;
  letter-spacing: 1px;
  line-height: 1.5;
}

#about, #projects, #skills, #contact {
  margin-top: 30px;
  margin-bottom: 50px;
}

.banner-wrapper {
  position: relative;

  .banner-text {
    position: absolute;
    top: 150px;
    left: 300px;
    color: white;

    h1 {
      font-size: 100px;
      font-weight: bold;
    }
  }
}
