#projects {
  margin-bottom: 50px;
  margin-top: 30px;

  hr {
    width: 80%;
  }

  .project-card {
    margin-top: 20px;
    margin-bottom: 20px;

    .project-image {
      height: 200px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .awesome-project-card {
    margin-top: 50px;

    .project-image {
      height: 50px;
    }

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }
    }
  }
}
