<div class="banner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</div>

<div class="tabs-wrapper text-center">
  <ul class="tabs list-inline">
    <li class="active tab-item"><a data-open="#about">About</a></li>
    <li class="tab-item"><a data-open="#skills">Skills</a></li>
    <li class="tab-item"><a data-open="#projects">Projects</a></li>
    <li class="tab-item"><a data-open="#contact">Contact</a></li>
  </ul>
</div>

<div class="content-wrapper">
  <div class="container" id="about">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 1</h1>
      </div>
    </div>
  </div>

  <div class="container" id="skills">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 2</h1>
      </div>
    </div>
  </div>

  <div class="container" id="projects">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 2</h1>
      </div>
    </div>
  </div>

  <div class="container" id="contact">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 2</h1>
      </div>
    </div>
  </div>
</div>
