<div class="banner-wrapper">
  <%= video_tag 'teste', autoplay: true, loop: true %>

  <ul class="tabs list-inline">
    <li class="text-center active tab-item"><a data-open="#about">About</a></li>
    <li class="text-center tab-item"><a data-open="#skills">Skills</a></li>
    <li class="text-center tab-item"><a data-open="#projects">Projects</a></li>
    <li class="text-center tab-item"><a data-open="#contact">Contact</a></li>
  </ul>
</div>

<div class="content-wrapper">
  <div class="container" id="about">
    <div class="row">
      <div class="col-xs-8">
        <h1 class="col-xs-6 col-xs-offset-4">I'm a Full Stack developer from Rio de Janeiro, Brazil.</h1>
        <h3 class="col-xs-8 col-xs-offset-4 text-justify">This means I can develop a full application: Develop both the Front-end, which is the page's layout and the Back-end, which is the logic and database interaction.</h3>
        <p class="col-xs-8 col-xs-offset-4 text-justify">I'm always ready for a new adventure! Learning new stuff is my hobbie. When I'm not coding, you can always find me in the virtual world or in the kitchen.</p>
      </div>

      <div class="col-xs-4">
        <div class="row">
          <div class="col-xs-12">
            <%= image_tag 'html-css-js', class: 'img-front' %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= image_tag 'ruby-on-rails', class: 'img-back' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="skills">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 2</h1>
      </div>
    </div>
  </div>

  <div class="container" id="projects">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 2</h1>
      </div>
    </div>
  </div>

  <div class="container" id="contact">
    <%= render 'shared/contact' %>
  </div>
</div>
