<div class="banner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</div>

<div class="tabs-wrapper">
  <ul class="tabs">
    <li class="active tab-item"><a data-open="#area-1">Area 1</a></li>
    <li class="tab-item"><a data-open="#area-2">Area 2</a></li>
  </ul>
</div>

<div class="content-wrapper">
  <div class="container" id="area-1">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 1</h1>
      </div>
    </div>
  </div>

  <div class="container" id="area-2">
    <div class="row">
      <div class="col-xs-12">
        <h1>area 2</h1>
      </div>
    </div>
  </div>
</div>
